header {
    position: sticky;
    top: 0;
    padding: 0 40px;
    background-color: rgba(255, 255, 255, 0.9);
  }
.navmenu img{
    padding: 5px 0px;
  width: 60px;
  height: 60px;
}
.navmenu {
display: flex;
justify-content: space-between;
text-decoration: none;
color: #484551;
}
.navbar {
    list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navmenu a {
    text-decoration: none;
    color: #484551;
}
.navmenu a:hover {
    text-decoration: underline;
    color: #4fa3db;
  }
  .navmenu li {
    font-weight: 550;
    font-size: 14px;
    margin: 23px 0px;
    padding: 0 12px;
  }
  .nav-links a {
    font-size: 12px;
    text-decoration: underline;
  }
  .about-section {
    display: flex;
    flex-wrap: wrap;
  }
  .watchvideo-btn {
    margin-bottom: 10px;
    
  }
  main {
    padding: 0 40px;
  }
  .about-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }
  .about-section h1 {
    color: #484551;
    font-family: 'Segoe UI', sans-serif;
    font-size: 2.6em;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
  }
  
  .watchvideo-btn {
    padding: 20px 40px;
    border: 1px solid #484551;
    border-radius: 6px;
    background-color: white;
    color: #484551;
    font-weight: normal;
    font-size: 20px;
  }
  .watchvideo-btn:hover {
    border: transparent;
    background-color: #4fa3db;
    color: white;
  }
.video-css {
    padding: 0px 800px;
}
.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
  }
  .project {
    margin-bottom: 50px;
  }
  .project p {
    line-height: 30px;
    color: #484551;
  }
  .project a {
    color: #4fa3db;
  }
  .project-5 {
    order: -1;
  }
  
  /* footer */
  footer {
    margin: 0;
    padding: 0;
  }
  footer div {
    background-color: #e8e8e6;
  }
  .footer-message {
    text-align: center;
    padding: 25px 40px;
    font-size: 16px;
    color: #363945;
    margin-bottom: 0;
  }
  footer span {
    text-decoration: underline;
    color: #5b6b7f;
  }